@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', Helvetica, Arial;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    background: white;
    margin: 0;
}

a, a:visited {
    color: black;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 6px 6px 0px #00000010;
    font-size: 14px;
    font-weight: 400;
}

.navbar-container {
    margin: auto;
    max-width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.85);
    padding: 8px 16px;
}

.navbar a.button {
    text-decoration: none;
    border: solid 1px black;
    padding: 8px 28px;
    border-radius: 21px;
    box-shadow: 0px 6px 24px 0px #00000020;
    color: white;
    background-color: #1d96ed;
    font-size: 15px;
    text-shadow: 0px 1px 1px #00000010;
    border: none;
}

.slide {
    width: 100%;
    height: 90%;
    min-height: 800px;
    max-height: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: center;
}

.column-text {
    max-width: 50%;
    flex-grow: 1;
    flex-basis: min-content;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.text-container {
    background: white;
    font-size: 52px;
    font-weight: 700;
    max-width: 600px;
    margin: auto;
    padding: 21px;
}

.text-container .text-body {
    font-size: 17px;
    font-weight: 400;
    margin-top: 16px;
}

.text-container.hero {
    max-width: 590px;
    font-size: 50px;
}

.column-image {
    flex-grow: 1;
    max-width: 50%;
    flex-basis: min-content;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden;
}

.column-image img {
    width: 80%;
    max-width: 340px;
    display: block;
    border-radius: 28px;
    box-shadow: 21px 26px 24px 0px #00000040;
    border: solid 8px rgba(255, 255, 255, 0.9);
}

.big-percent, .big-percent-subtitle {
    color: white;
    font-size: min(26vw, 290px);
    text-align: center;
    font-weight: 800;
    line-height: 100%;
}

.big-percent-subtitle {
    font-size: min(3.5vw, 21px);
    font-weight: 300;
}

.appstore img {
    background-color: black;
    border-radius: 8px;
    padding: 3px;
    height: 48px;
    width: 150px;
    margin-top: 38px;
}

.title-icon {
    width: 33px;
    vertical-align: middle;
}

ul {
    columns: 2;
    list-style-type: none;
    opacity: 0.7;
}

ul a {
    font-weight: 600;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .navbar, .navbar a.button {
        font-size: 12px;
    }

    .navbar a.button {
        padding: 8px 18px;
    }

    .slide {
        flex-direction: column;
        height: auto;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        max-height: none;
    }

    .reverse-on-mobile {
        flex-direction: column-reverse;
    }

    .column-text, .column-image {
        max-width: 100%;
    }

    .text-container.hero {
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 8vw;
    }

    .text-container {
        margin-top: 28px;
        font-size: 9vw;
    }

    .title-icon {
        width: 5vw;
    }

    .text-container .text-body {
        font-size: 4.25vw;
    }

    .column-image {
        padding: 0;
        padding-bottom: 32px;
        min-height: 450px;
    }

    .column-image img {
        max-width: 60%;
        margin-top: 5%;
    }

    .big-percent {
        font-size: 40vw;
    }

    .big-percent-subtitle {
        font-size: 6vw;
        max-width: 80%;
    }

    .navbar-container {
        max-width: 95%;
    }
}

.green-highlight {
    color: #00AE46;
}

.health-highlight {
    color: #FF637F;
}

.bg-brand {
    background-color: #3AD277;
}

.bg-dark {
    background: 
    linear-gradient(
      rgba(78, 69, 52, 0.9), 
      rgba(78, 69, 52, 0.5)
    ),
    url("/img/cows-bg.jpg");
    background-size: cover;
}

.bg-nutri {
    background-color: #AD8FEE;
}

.bg-personalise {
    background-color: #67B6EF;
}